body{
    margin: 50px 50px 50px 50px; /*Параметри відступів*/
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 110px;
    font-weight: 900;
    letter-spacing: 20px;
    text-shadow: 13px 4px 4px rgba(0,0,0,0.7);/* Параметри  text-shadow*/
}
h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: #ff6708;
    letter-spacing: 5px;
}
.p {
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
    letter-spacing: 0.9px;
    text-align: justify; /*Вирівнювання по ширині*/
}